
<div class="wrapper">
  <div class="black-card">
    <h1 class="text">Our Consoles</h1>
    <div class="container">
      <div class="row">
        <% @consoles.each do |console| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <% if console.photo.present? %>
              <div class="card" style="background-image: url(
                '<%= cl_image_path console.photo %>')">
            <% else %>
              <div class="card" style="background-image: url(assets/console_retro.jpg)">
            <% end %>
                <h6><%= console.brand %>
                <%= console.model %></h6>
                <p><%= link_to console_path(console), class:"btn-yellow" do %>
                <%= console.price %>€/Jour
                <% end %></p>
              </div>
          </div>
        <% end %>
      </div>
    </div>

    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
    ></div>

  </div>
</div>


