<h1 class="text-center">Add your Gaming Console</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <% if @console.errors.any? %>
          <div class="errors-container">
            <ul>
              <% @console.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <%= simple_form_for @console do |f| %>
      <%= f.input :brand, :collection => @brands %>
      <%= f.input :model, :collection => @models %>
      <%= f.input :number_of_pads %>
      <%= f.input :address %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit class: "btn form-control btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
