
<div class="wrapper">
  <div class="container">




    <h1>dashboard <i class="fas fa-trophy"></i></h1>

     <h1>Mes bookings (<%= current_user.bookings.count %>)</h1>
    <% current_user.bookings.each do |book| %>

<div class="message">
   <%= cl_image_tag book.console.user.avatar, class: "avatar-large" %>
  <div class="message-name">
    <h3><i class="fas fa-terminal"></i><%=book.console.user.email %></h3>
  </div>
  <div class="message-body">
    <p>
    <strong> <%= book.console.brand %> <%= book.console.model %></strong> du <%= book.start_date %> au <%= book.end_date %>
    </p>
  </div>

  <% if book.status == "Pending" %>
  <i class="fas fa-question" style="color:blue"></i>
<% elsif book.status == "accepted" %>
             <i class="far fa-check-circle" style="color:green"></i>
<% else %>
                <i class="fas fa-ban" style="color:Tomato"></i>
<% end %>


</div>

    <% end %>


    <hr>

<div class="encart-dash">
 <h1>Mes consoles en location (<%= current_user.bookings_on_consoles.count %>)</h1>
    <% current_user.bookings_on_consoles.each do |book| %>

<div class="message">
   <%= cl_image_tag book.user.avatar, class: "avatar-large" %>
  <div class="message-name">
    <h3><i class="fas fa-terminal"></i><%=book.user.email %></h3>
  </div>
  <div class="message-body">
    <p>
    <strong> <%= book.console.brand %> <%= book.console.model %></strong> du <%= book.start_date %> au <%= book.end_date %>
    </p>
  </div>
        <div class="buttons-container">
        <% if policy(book).edit? && book.status == "Pending"%>
        <%= simple_form_for book do |f| %>
        <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
        <%= f.submit "Accepted", class: "btn-green" %>
        <% end %>
        <%= simple_form_for book do |f| %>
        <%= f.input :status, as: :hidden, input_html: { value: 'Rejected'} %>
        <%= f.submit "Refuser", class: "btn-yellow" %>
        <% end %>
        <% end %>
      </div>

<% if book.status == "Pending" %>
<% elsif book.status == "accepted" %>
             <i class="far fa-check-circle" style="color:green"></i>
<% else %>
                <i class="fas fa-ban" style="color:Tomato"></i>
<% end %>






</div>

    <% end %>

</div>
  </div>
</div>



