<div class="wrapper min-height">
  <div class="encart">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-center">GAME IN PIXELS</h1>
          <div class="mario">
            <%= image_tag "Mario1.png" %>
          </div>
          <div class=" form form-inline text-center">
            <%= simple_form_for @console, method: :get do |f| %>
            <%= f.input :address, label: false, placeholder:'WHERE' %>
            <%= f.input :brand, label: false, prompt:'--', :collection => @brands %>
            <%= f.input :model, label: false, prompt:'--', :collection => @models %>
            <%= f.submit "GAME", class: "btn form-control btn-green", id:'home_search_btn' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
